<%-include("header.ejs") %> 
<div class="container">
    
<div class="avatar-div">
    <img src="imgs/AVT.JPG" width="" alt="my-avt">
</div>
<div class="about-desc">
    <p>'sup guys, welcome to my personal page, I'm Hai (Daniel), below is my personal info</p>
</div>



<%-include("footer.ejs") %> 