<%- include("header.ejs") %>
<div class="container full-height">
  <div class="container-fluid box">
    <div class="container">
      <div class="row">
        <div class="col">
          <a href="/about">
            <div class="col">
              <h1>About</h1>
              <i class="fa-solid about-home fa-user"></i>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="/journal">
            <div class="col">
              <h1>Journal</h1>
              <i class="fa-solid journal-home fa-book"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <%- include("footer.ejs") %>
</div>
